.navbar {
  background-color: white !important;
  align-items: center;
  border-bottom: 1pt solid #2358af;
}

.navbar-brand {
  margin-left: 1em;
  color: #2358af !important;
  font-size: 18pt;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}
