@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
}

::selection {
	color: white;
	background: rgb(12 74 110);
}

body {
	background-color: #273f76;
}
